body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Pacifico;
    color: #010A02;
    background-color: #afbace;

}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
#title{
    font-size: 40px;
}
#sizeValue{
    font-size: 25px;
}

#grid{
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    -moz-box-shadow:0 0 10px white;
    -webkit-box-shadow:0 0 10px white;
    box-shadow:0 0 10px white;
}
.content{
    background-color: white;
}
#menu{
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#menu button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
    background-color: #756ADB;
    color: white;
    transition: 0.5s;
}
#menu button:hover{
    background-color: #6154d6;
}
#brushImg, #fillImg, #eraserImg, #cleanImg{
    width: 25px;
    height: auto;
    filter: invert(1);
}
input[type='color'] {
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
  }
  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
  }
footer{
    margin-top: 50px;
}

