body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    background: white;
}
#grid{
    border: 5px solid black;
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
}
#rightMenu{
    width: 200px;
}
#leftMenu, #rightMenu{
    display: flex;
    flex-direction: column;
    padding: 20px;

}
#rightMenu button{
    height: 50px;
    width: 50px;
}
main{
    display: flex;
    align-items: center;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 200px;
    height: 200px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}